# Ignore all files in the z_Do_Not_Sync_or_use directory
apps/mdm_app/z_Do_Not_Sync_or_use

/z_Do_Not_Sync_or_use
/app/z_Do_Not_Sync_or_use
/!1 TO CLEAN
/app/!1 TO CLEAN
/z_Do_Not_Sync_or_use/*
/app/z_Do_Not_Sync_or_use/*
/!1 TO CLEAN/*
/app/!1 TO CLEAN/*

# Mac and cache folders :
__pycache__/
*.pyc
*.pyo

# IDE / editor folders
# git rm -r --cached .windsurf
# git rm -r --cached .vscode
.vscode/
.windsurf/

# macOS cruft (if you ever hit .DS_Store again) - git rm --cached .DS_Store

.DS_Store